button {
    background: #304859;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

button p {
    scale: 0;
}

.active {
    background: #BCCED9;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.active p {
    scale: 1;
}

.correct {
    background: #FDA214;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.correct p {
    scale: 1;
}

.wrong {
    background: #fd1414;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.wrong p {
    scale: 1;
}