.soloFinish {
    display: flex;
    flex-direction: column;
    width: 327px;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.youDidItText {
    font-size: 24px;
    color: #152938;
}

.gameOverSoloText {
    margin-top: 10px;
    font-size: 14px;
    color: #7191A5;
    
}

.timeAndMoveBox {
    width: 279px;
    height: 48px;
    background-color: #DFE7EC;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.marginAdd {
    margin-top: 10px;
}
.marginAdd15 {
    margin-top: 15px;
}

.timeElapsed {
    font-size: 13px;
    color: #7191A5;
}

.showTimeAndMove {
    font-size: 20px;
    color: #304859;
}

.soloRestart {
    width: 279px;
    height: 48px;
    margin-top: 20px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    background-color: #FDA214;
    font-size: 18px;
    color: #FCFCFC;
    
}

.soloRestart:hover {
    background-color: #FFB84A;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.soloSetup {
    width: 279px;
    height: 48px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    background-color: #DFE7EC;
    font-size: 18px;
    color: #304859;
    
}

.soloSetup:hover {
    background-color: #6395B8;
    color: #FCFCFC;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}



