.gamePlay {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 80px; */
}

.opacity50 {
    opacity: 50%;
    background: #a8a8a8;
}