@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=JetBrains+Mono:ital,wght@0,700;1,700&family=Josefin+Sans&family=Kumbh+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-family: "JetBrains Mono", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Kumbh Sans", sans-serif;
}
#root {
  height: 100vh;
  width: 100vw;
}
